[user]
    name = vorpal56
    email = anthonysukadil1@gmail.com
[rerere]
    enabled = true
[alias]
    co = checkout
    cob = checkout -b
    bb = !git for-each-ref --color --sort=-committerdate --format='%(color:normal)%(align:64,left)%(refname:short)%(color:red) %(upstream:track)%(end)%(color:green)%(align:20,left)%(authorname)%(end)%(color:yellow)%(align:36,left)%(committerdate:format:%Y-%m-%d %H:%M) (%(committerdate:relative))%(end)%(color:reset)%(align:32,left)%(contents:lines=1)%(end)' refs/heads/ --count 5
    bd = branch -D
    cbn = rev-parse --abrev-ref HEAD
    fpo = fetch --prune origin --no-tags
    staash = stash --all

    pruneb = !git checkout master && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d
    up = !git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\"
    upf = !git push -u --force-with-lease origin \"$(git rev-parse --abbrev-ref HEAD)\"
    poc = !git pull origin \"$(git rev-parse --abbrev-ref HEAD)\"

    cp = cherry-pick
    cm = commit -m
    rbc = rebase --continue
    rba = rebase --abort
    st = status

    logo = log --oneline --pretty=format:"%h%x09%an%x09%ad%x09%s"
    logom = log --oneline --pretty=format:"%h%x09%an%x09%ad%x09%s" master..
    logmp = log --oneline --merges --pretty=format:"%h%x09%an%x09%ad%x09%s"
