<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
    This plist file should be placed in the /Library/LaunchDaemons/ directory 
    for system-wide use or in ~/Library/LaunchAgents/ for user-specific use.
    If neither of these directories exist, create them. References:
    - https://github.com/gkpln3/CapsLockNoDelay
    - https://superuser.com/a/1858081
-->
<dict>
    <key>Label</key>
    <string>local.removecapslockdelay</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hidutil</string>
        <string>property</string>
        <string>--set</string>
        <string>{"CapsLockDelayOverride":0}</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
